<link rel="stylesheet" href="https://d2ue93q3u507c2.cloudfront.net/assets/CACHE/css/5849a5e0722f.css" type="text/css" media="all">
<link rel="stylesheet" href="https://d2ue93q3u507c2.cloudfront.net/assets/CACHE/css/5336fb4ab5e6.css" type="text/css" media="all">
<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
    <img alt="Robinhood Alexa Skill logo" id="logo" src="images/robinhood_alexa_logo.png" data-at2x="images/robinhood_alexa_logo.png" class="header-logo" width="255" height="311">
  </div>
  <div class="col-md-10 col-md-offset-1 text-center">
    <form action="/signup/login/" data-page-name="login" id="signup_form" method="post" onsubmit="return false" novalidate="">
      <!-- <input type="hidden" name="csrfmiddlewaretoken" value="uCOPE5BzzgWlNU2hOAtCL1lqvClxhVHCrhEVcy28myOpNkuq5enwCjJaaGYiztfr"> -->
      <div class="mtl row">
        <div class="col-sm-6 col-sm-offset-3">
          <input class="form-control input-lg signup-field" data-parsley-errors-messages-disabled="" data-parsley-required="true" data-parsley-trigger="change" data-trigger="focus" name="username" placeholder="Robinhood username" value="" data-original-title="" title="" data-parsley-id="3144"><ul class="parsley-errors-list" id="parsley-id-3144"></ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <input class="form-control input-lg signup-field" data-parsley-errors-messages-disabled="" data-parsley-required="true" data-parsley-trigger="change" data-trigger="focus" name="password" placeholder="Password" type="password" data-original-title="" title="" data-parsley-id="6160"><ul class="parsley-errors-list" id="parsley-id-6160"></ul>
        </div>
      </div>

      <div class="mts row">
        <div class="col-sm-12">
          <button class="btn btn-lg btn-default login-button mts" type="submit">
            Log In
          </button>
        </div>
      </div>
    </form>
  </div>
</div>